@if(pollution){
<div class="absolute w-full h-full flex items-center justify-center">
  <div class="w-1/2 bg-white rounded-lg border-1 border-slate-50">
    <div class="p-4">
      <h2 class="text-2xl font-bold mb-4">Détails de la Pollution</h2>
      <p><strong>Titre :</strong> {{ pollution.titre }}</p>
      <p><strong>Description :</strong> {{ pollution.description }}</p>
      <p>
        <strong>Date d'Observation :</strong> {{ pollution.date_observation | date : 'medium' }}
      </p>
      <p><strong>Type de Pollution :</strong> {{ pollution.type_pollution }}</p>
      <p><strong>Lieu :</strong> {{ pollution.lieu }}</p>
      <p><strong>Latitude :</strong> {{ pollution.latitude }}</p>
      <p><strong>Longitude :</strong> {{ pollution.longitude }}</p>
      <div class="mt-4 flex justify-end">
        <button
          (click)="close()"
          class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition"
        >
          Fermer
        </button>
      </div>
    </div>
  </div>
</div>
}
